:root {
  --sidebarbg: #fff;
  --sidebarcolor: #6c757d;
  --sidebarbordercolor: rgba(72, 94, 144, 0.16);
  --sidebaractivecolor: #4c75f2;
  --sidebarheadingcolor: #6c757d;
  --sidebarheadingbackground: #fff;
  --logobg: #fff;
  --logocolor: #4c75f2;
  --headerbackground: #fff;
  --headercolor: #292b3a;
  --searchcolor: #292b3a;
  --primarycolor: #1e3d73;
  --bodycolor: #292b3a;
  --bodybackground: #f6f6f7;
  --bordercolor: rgba(72, 94, 144, 0.16);
  --mainbackground: #fff;
  --secondary: #6c757d;
  --success: #1ee0ac;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #f64e60;
  --dark: #343a40;
  --sidebarwidth: 140px;
}

body {
  /* font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important; */
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  background: var(--bodybackground) !important;
  color: var(--bodycolor) !important;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
}

.text-primary {
  color: var(--primarycolor) !important;
}

.bg-primary {
  background-color: var(--primarycolor) !important;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: var(--primarycolor) !important;
}

/* buttons */
.btn-primary {
  background-color: var(--primarycolor) !important;
  color: #fff;
  border-color: var(--primarycolor);
  box-shadow: none;
}

a.btn-primary:focus,
a.btn-primary:hover,
button.btn-primary:focus,
button.btn-primary:hover {
  background-color: var(--primarycolor) !important;
}

.icheck-primary>input:first-child:checked+label::before {
  background-color: var(--primarycolor) !important;
  border-color: var(--primarycolor) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
}

.cardBody {
  background-image: linear-gradient(to right top, #00978d, #00847b, #00716a, #005f59, #004d48);
  color: white;
}

.cardFooter {
  background-color: rgb(68, 68, 68);
  color: white;
  font-weight: bolder;
  font-size: 25px;
}

/* todo css  */
.todo-list {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

.todo-list>li {
  border-radius: 2px;
  background-color: #ffffff;
  border-left: 2px solid #e9ecef;
  color: #495057;
  margin-bottom: 2px;
  padding: 10px;
}

.todo-menu {
  margin-top: 30px;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.todo-menu li {
  padding: 5px 15px;
}

.todo-menu li a {
  font-weight: 700;
  position: relative;
}

.todo-list li.todo-item {
  border-bottom: 1px solid var(--bordercolor);
  padding: 20px;
  display: flex;
}

.todo-list li.todo-item p {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  max-width: calc(100vw - 739px);
  margin-bottom: 0px;
}

.todo-list li.todo-item h3 {
  font-size: 16px;
  font-weight: 600;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

a {
  color: var(--bodycolor);
  text-decoration: none;
  background-color: transparent;
}

.todo-menu li a.active,
.todo-menu li a:hover {
  color: var(--primarycolor);
}

.todo-menu li a.active:after,
.todo-menu li a:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1e4ea1;
  opacity: 0.2;
  left: 0px;
  top: 0px;
  z-index: 0;
  border-radius: 20px;
}


.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.slimScrollDiv {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 500px;
}

.scrollertodo {
  overflow: hidden;
  width: auto;
  height: 337px;
}

.slimScrollBar {
  background: rgb(255, 255, 255);
  width: 5px;
  position: absolute;
  top: 0px;
  opacity: 0.4;
  display: none;
  border-radius: 7px;
  z-index: 99;
  right: 0px;
  height: 390.625px;
}

.slimScrollRail {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0px;
  display: none;
  border-radius: 7px;
  background: rgb(51, 51, 51);
  opacity: 0.2;
  z-index: 90;
  right: 0px;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background: transparent;
  color: var(--primarycolor);
}

.dropdown-menu .dropdown-item {
  padding: 8px 10px;
  color: var(--bodycolor);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem !important;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}


.ddrp_menu {
  position: absolute;
  transform: translate3d(461px, 67px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

@media only screen and (max-width: 767px) {
  .todo-list li.todo-item p {
    max-width: calc(100vw - 200px);
  }
}

.flip-menu-toggle {
  line-height: 31px;
  font-size: 20px;
  border-right: 1px solid var(--bordercolor);
  padding: 0px 10px;
  margin-top: 3px;
}

.card .card-header {
  background-color: transparent;
  border-color: var(--bordercolor);
  padding: 15px;
}


.todo-menu-section {
  -webkit-border-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.5s;
}

@media only screen and (max-width: 991px) {
  .flip-menu {
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    top: 49px;
    bottom: 0;
    -webkit-transform: translateX(-780px);
    transform: translateX(-780px);
    transition: all 0.5s;
  }
}

@media only screen and (max-width: 991px) {
  .flip-menu.active {
    transform: translateX(-15px);
    margin-left: 0px;
    z-index: 5;
  }
}


@media only screen and (max-width: 991px) {
  .flip-menu .flip-menu-close {
    position: absolute;
    right: -7px;
    left: auto;
    top: 0px;
    font-size: 20px;
    z-index: 100000;
  }
}

.animate__animated {
  --animate-duration: 2s;
}